## linear Regression
### Using Stock Exchange Data

In [51]:
# !pip install numpy
# !pip install scipy
# !pip install scikit-learn
# !pip install matplotlib
# !pip install quandl

In [52]:
import pandas as pd
import quandl as qdl # will use for getting Data related to Stock Exchnage Actually API call
## we will get the data from file instead  API

In [53]:
df = pd.read_csv("Data/Stock_Exchange.csv")

In [54]:
df.head()

## we are only interesting in open col , high col, low col,

       Date    Open    High     Low   Close  Volume  OpenInt
0  1/2/1970  2.2972  2.3178  2.2972  2.2972   26437        0
1  1/5/1970  2.2972  2.2972  2.2544  2.2759   29887        0
2  1/6/1970  2.2759  2.2759  2.2342  2.2342  106900        0
3  1/7/1970  2.2342  2.2342  2.2342  2.2342   85061        0
4  1/8/1970  2.2342  2.2342  2.2139  2.2139   66669        0

In [55]:
df = df[["Open" ,"High", "Low", "Close", "Volume"]]
df.head()

     Open    High     Low   Close  Volume
0  2.2972  2.3178  2.2972  2.2972   26437
1  2.2972  2.2972  2.2544  2.2759   29887
2  2.2759  2.2759  2.2342  2.2342  106900
3  2.2342  2.2342  2.2342  2.2342   85061
4  2.2342  2.2342  2.2139  2.2139   66669

In [56]:
# lets go head transfer our Data
# HL_PCT  is high low percentage
df["HL_PCT"] = (df["High"] - df["Low"]) / df["Close"] * 100
df.head()

     Open    High     Low   Close  Volume    HL_PCT
0  2.2972  2.3178  2.2972  2.2972   26437  0.896744
1  2.2972  2.2972  2.2544  2.2759   29887  1.880575
2  2.2759  2.2759  2.2342  2.2342  106900  1.866440
3  2.2342  2.2342  2.2342  2.2342   85061  0.000000
4  2.2342  2.2342  2.2139  2.2139   66669  0.916934

In [57]:
# next we will do daily percent Change
# PCT_change is percentage change
df["PCT_change"] = (df["Close"]-df["Open"]) / df["Open"] * 100
df.head()

     Open    High     Low   Close  Volume    HL_PCT  PCT_change
0  2.2972  2.3178  2.2972  2.2972   26437  0.896744    0.000000
1  2.2972  2.2972  2.2544  2.2759   29887  1.880575   -0.927216
2  2.2759  2.2759  2.2342  2.2342  106900  1.866440   -1.832242
3  2.2342  2.2342  2.2342  2.2342   85061  0.000000    0.000000
4  2.2342  2.2342  2.2139  2.2139   66669  0.916934   -0.908603

In [58]:
# Now we will define a new dataframe as :
df = df[["Close","HL_PCT","PCT_change","Volume"]]
df.head()

    Close    HL_PCT  PCT_change  Volume
0  2.2972  0.896744    0.000000   26437
1  2.2759  1.880575   -0.927216   29887
2  2.2342  1.866440   -1.832242  106900
3  2.2342  0.000000    0.000000   85061
4  2.2139  0.916934   -0.908603   66669

In [59]:
#Regression - Features and Labels
import quandl, math
import numpy as np
import pandas as pd
from sklearn import preprocessing, svm
from sklearn.linear_model import LinearRegression

In [60]:
# math.ceil(x) : ceilling of x as a float
# the smallest integer value greater thena or eqqual to x

#Forcost, fill missing data and return ceiling as float, smallest integer values
#greater than or equal to x
#In our case, we've decided the features are a bunch of the current values,
# and the label shall be the price, in the future, where the future is 1% of the entire length of the dataset out.
# We'll assume all current columns are our features,
#so we'll add a new column with a simple pandas operation:
#We're saying we want to forecast out 1% of the entire length of the dataset

In [61]:
forecast_col = "Close"
df.fillna(value = -99999 , inplace =True)
forecast_out = int(math.ceil(0.01 * len(df)))
print(forecast_out)

121

In [62]:
# x = len(df)
# print(x)
# print(0.01*math.ceil(12074))

In [63]:
#In our case, we've decided the features are a bunch of the current values,
#and the label shall be the price, in the future, where the future is 1% of the entire length of the dataset out.
#We'll assume all current columns are our features, so we'll add a new column with a simple pandas operation:
df['label'] = df[forecast_col].shift(-forecast_out)
df.head()

    Close    HL_PCT  PCT_change  Volume   label
0  2.2972  0.896744    0.000000   26437  1.6284
1  2.2759  1.880575   -0.927216   29887  1.6489
2  2.2342  1.866440   -1.832242  106900  1.6705
3  2.2342  0.000000    0.000000   85061  1.6705
4  2.2139  0.916934   -0.908603   66669  1.6489

In [64]:
#Regression - Training and Testing
#We'll then drop any still NaN information from the dataframe:
# df.dropna(inplace=True)

# x =  np.array(df.drop(["label"],1))
# y = np.array(df["label"])
# x = preprocessing.scale(x)
# y = np.array(df['label'])

from sklearn.model_selection import train_test_split

# x_train ,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [65]:
# clf = svm.SVR()
# clf = LinearRegression()
# clf.fit(x_train,y_train)
# confidance = clf.score(x_test,y_test)
# print(confidance)



# clf = svm.SVR()
# clf = LinearRegression()
# clf.fit(x_train, y_train)
# confidence = clf.score(x_test, y_test)
# print(confidence)
# clf = LinearRegression()
# clf = LinearRegression(n_jobs=-1)
# for k in ['linear','poly','rbf','sigmoid']:
#     clf = svm.SVR(kernel=k)
#     clf.fit(x_train, y_train)
#     confidence = clf.score(x_test, y_test)
#     print(k,confidence)

In [66]:
## prediction

x = np.array(df.drop(['label'], 1))
x = preprocessing.scale(X)
x_lately = X[-forecast_out:]
x = X[:-forecast_out]
df.dropna(inplace=True)
y = np.array(df['label'])
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
clf = LinearRegression(n_jobs=-1)
clf.fit(X_train, y_train)
confidence = clf.score(x_test, y_test)
print(confidence)

ValueError: Found input variables with inconsistent numbers of samples: [11711, 11953]

In [67]:
### visualizing this information
import datetime
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')
df['Forecast'] = np.nan


last_date = df.iloc[-1].name
last_unix = last_date.timestamp()
one_day = 86400
next_unix = last_unix + one_day
for i in forecast_set:
    next_date = datetime.datetime.fromtimestamp(next_unix)
    next_unix += 86400
    df.loc[next_date] = [np.nan for _ in range(len(df.columns)-1)]+[i]

df['Adj. Close'].plot()
df['Forecast'].plot()
plt.legend(loc=4)
plt.xlabel('Date')
plt.ylabel('Price')
plt.show()

AttributeError: 'numpy.int64' object has no attribute 'timestamp'

###